@using PresentationLayer.Models.Order.VM
@model CreateOrderVM

<h2>Add New Order</h2>

@foreach (var item in (List<string>)ViewData["x"])
{
    <p>@item</p>
}

@* @foreach (var item in ViewBag.myCustomers)
{
    <p>@item</p>
} *@

<form action="/Order/Create" method="post">
    <div class="form-group">
        <label>Customer :</label>
        <select name="customerId">
            @foreach (var customer in Model.Customers)
            {
                <option value="@customer.Id">@customer.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Products :</label>
        <select name="productIds" multiple>
            @foreach (var product in Model.Products)
            {
                <option value="@product.Id">@product.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-success">Create Order</button>

    <a asp-action="Index">Back to List</a>
</form>